{% extends "posts/base.html" %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ account_form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}