{% extends 'posts/base.html' %}
{% block css %}
<style>
    .card-content {
        height: 300px;
        line-height: 300px;
    }
</style>
{% endblock %}
{% block body %}
<div class="mt-5">
    <div id="post" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="row">
            <div class="col-8">
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                        <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
                    </div>
                    {% endfor %}
                    <a class="carousel-control-prev" href="#post" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#post" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div id="post_content">
                    <h2>{{ user.username }}</h2>
                    <hr>
                    <p>{{ post.content }}</p>
                    <hr>
                    <p class="text-secondary">{{ post.created_at }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
