{% extends 'posts/base.html' %}
{% block body %}
{% if user.is_authenticated %}
    <a href="{% url 'accounts:signout' %}">로그아웃</a>
{% else %}
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <a href="{% url 'accounts:signin' %}">로그인</a>
{% endif %}
<a href="{% url 'posts:create' %}">새 글 쓰기</a>
<div class="row mt-5">
    {% for post in posts %}
    <div class="col-4">
        <div class="card">
            <a href="{{ post.get_absolute_url }}"><img src="{{post.image_set.first.image.url}}" class="img-fluid"></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
